/* Put here mobile specific styles */
#wrapper, footer {
    width: auto;
    max-width: 569px;
    min-width: 320px;
}

.footerNavigation {
    width: inherit;
    top: 0;
    margin-top: 5px;
}

footer .contactLink {
    top: 0;
    margin-top: 5px;
}

footer {
    height: auto;
    font-size: 14px;
    right: 0;
    left: 0;
}

#footerSocial {
    margin-top: 5px;
    margin-left: 10px;
}

header, #content, footer {
    padding: 0 10px;
}

#content {
    padding-bottom: 85px;
}

header ul {
    float: none;
}

#content {
    padding-top: 45px;
}

#frontpageTeaser, #frontpageBio {
    float: none;
    width: auto;
}

.sidebarHome .widget_mylanyrd {
    margin: 0;
}

.sidebarHome .widget {
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

#logo {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.posts {
    width: auto;
    float: none;
}

.sidebar {
    display: none;
}

.comments-template textarea {
    min-width: 295px;
    max-width: 544px;
}
